<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Browse Galery{% endblock %}</title>
    </head>
    <body data-id="{{ id }}" data-is-video="{{ is_video }}"
          data-photo-number="{{ photo_number }}" data-date="{{ date }}">
        {% if is_video == false %}
            <form method="post" action="/galery/{{ photo_number }}">
            <input id="prev-button" type="button" onclick="Previous()" value="<-- Poprzednie Zdjecie">
            Zdjecie <span id="number"></span> z {{ photo_number }}
            <input id="next-button" type="button" onclick="Next()" value="Nastepne Zdjecie -->"><br/>
            <img id="myFormImg" src="" width="320" height="240">
            </form>
        {% else %}
            Film <span id="number"></span> z {{ photo_number }}<br/>
            <video id="myFormVideo" src="" autoplay="autoplay" loop="loop" width="320" height="240" controls>
            </video><br/>
        {% endif %}
        <a href="/galery">Powrót</a>
    </body>
    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            let i;
            let myImageCnt = $('body').data("photo-number");
            let isVideo = $('body').data("is-video");
            console.log(isVideo);
            let myImage = [];
            let num = 0;

            function onLoad(myImage)
            {
                var response = $.ajax({
                    type: 'GET',
                    url: `/v1/element/photos/${document.querySelector('body').dataset.id}`,
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        $.each(data, function(index, element) {
                            myImage.push(element.href);
                        });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(thrownError);
                    }
                }).responseText;
            }

            function setFirstElement(myImage, isVideo)
            {
                if (isVideo === 1) {
                    $("#myFormVideo").attr('src', myImage[0]);
                    $("#number").append("1");
                } else {
                    $("#myFormImg").attr('src', myImage[0]);
                    $("#number").append("1");
                }
            }


            function Next()
            {
                num++;
                if (num >= myImageCnt) {
                    num = 0;
                }
                $("#myFormImg").attr('src', myImage[num]);

                let value = num + 1;

                $("#number").empty();
                $("#number").append(value);
            }

            function Previous()
            {
                num--;
                if (num < 0) {
                    num = parseInt(myImageCnt);
                } else {
                    let value = num + 1;

                    $("#number").empty();
                    $("#number").append(value);
                }
                $("#myFormImg").attr('src', myImage[num]);
            }

            onLoad(myImage);
            setFirstElement(myImage, isVideo);
        </script>
    {% endblock %}
</html>
